.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;

}
.Button:last-of-type {
    margin-right: 0;

}

.Success {
    color: #b7ffc4;
    background-color: #5C9210;
}

.Danger {
    color: #ffaac2;
    background-color: #990013;
}